<div class="wrapper">
  <section id="section-contact" class="content">
    <div>
      <h2>Contact me through the info below.</h2>

      <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-content contact-btn">
              <p>Please click on any of the icons to get to know me better, or just send me an email so we can schedule a time to have a cup of coffee and chat.</p>
            </div>
            <div class="card-action links">
              <a href="https://github.com/vazquecm" target='_blank'><i class="fa-3x fa fa-github-square"></i></a>
              <a href="https://www.linkedin.com/in/carmen-vazquez-marin-a141a984" target='_blank'><i class="fa-3x fa fa-linkedin-square"></i></a>
              <a href="mailto:vazquecm@gmail.com?Subject=Hey%20there." target='_blank'><i class="fa-3x fa fa-envelope-square"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
