<section id="section-details" class="content">
  <div>
    <h2>A Little About Me...</h2>

    <div class="row">
      <div class="col s12 m12 l12">
        <div class="card">
          <div class="card-image">
            <img src='../img/puppy.jpeg'>
          </div>
          <div class="card-content">
            <span class='detail-card'><p>Having spent the past 15+ years in the medical field has taught me the value of being able to communicate effectively. Verbal communication is extremely important.  Being able to express your ideas, opinions, concerns and even funny jokes is the “glue” that holds our families, friends and neighbors together.  So when someone you love isn’t able to tell you these things, it makes life incredibly difficult.  Being personally faced with this dilemma has stirred a deep passion to create something that would let those who can’t speak for themselves find and use their voices.  </p>
            </span>
            <span class='detail-card'><p>This led me to look deeper into ways that I could accomplish my new goal and purpose.  The only logical solution was to create this myself.  To do that I would need to learn and immerse myself into the tech world.  Having no prior knowledge of the IT world, everything was new, exciting, frustrating and ultimately exhilarating to learn.  Through some extremely long days and nights I have come to appreciate the complexities involved with creating apps and programs for the world to see and use.  </p></span>
            <span class='detail-card'><p>Send me a message and we can start helping our families, friends, and neighbors not only improve their lives but make a significant and useful impact in them. So let's get together and make this happen!</p>
            </span>
          </div>
        </div>
      </div>
    <div class='row'>
      <div class="col s12 m12 l12">
            </div>
            <div class="carousel">
              <a class="carousel-item" href="#1!"><img src="../img/bootstrap.jpeg"></a>
              <a class="carousel-item" href="#3!"><img src="../img/jquery-logo.png"></a>
              <a class="carousel-item" href="#4!"><img src="../img/angularjs.jpeg"></a>
              <a class="carousel-item" href="#5!"><img src="../img/grunt.png"></a>
              <a class="carousel-item" href="#6!"><img src="../img/javascript.png"></a>
              <a class="carousel-item" href="#7!"><img src="../img/bower.jpeg"></a>
              <a class="carousel-item" href="#8!"><img src="../img/mandrill.png"></a>
              <a class="carousel-item" href="#9!"><img src="../img/mail-chimp.jpeg"></a>
              <a class="carousel-item" href="#10!"><img src="../img/nodejs.png"></a>
              <a class="carousel-item" href="#11!"><img src="../img/JSON.jpeg"></a>
              <a class="carousel-item" href="#13!"><img src="../img/handlebars.jpg"></a>
              <a class="carousel-item" href="#14!"><img src="../img/html5.png"></a>
              <a class="carousel-item" href="#15!"><img src="../img/sass.png"></a>
              <a class="carousel-item" href="#16!"><img src="../img/mongodb.jpeg"></a>
            </div>
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>
