<section id="section-details" class="content">
  <div>
    <h2>Details</h2>

    <div class="row">
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <img src='../img/details-pic.jpg'>
          </div>
          <div class="card-content">
            <span class='detail-card'><p>I am a passionate software developer with a desire to help my community improve life through efficient and pragmatic application design. Although my time at Nashville Software School has come to an end, there is still so much more I want to learn and experiment with in the tech world. </p>
            </span>
            <span class='detail-card'><p>During the frontend, I became knowledgeable in HTML, CSS, JavaScript, jQuery, Git protocols, API usage and creation, and the Command Line Interface.</p></span>
          </div>
        </div>
      </div>
      <div class="col s12 m6 l6">
        <div class="card">
          <div class="card-image">
            <div class="carousel">
              <a class="carousel-item" href="#one!"><img src="../img/angularjs.png"></a>
              <a class="carousel-item" href="#two!"><img src="../img/bootstrap.png"></a>
              <a class="carousel-item" href="#three!"><img src="../img/bower.png"></a>
              <a class="carousel-item" href="#four!"><img src="../img/express.png"></a>
              <a class="carousel-item" href="#five!"><img src="../img/grunt.png"></a>
              <a class="carousel-item" href="#six!"><img src="../img/javascript.png"></a>
              <a class="carousel-item" href="#seven!"><img src="../img/nodejs.png"></a>
            </div>
          </div>
          <div class="card-content">
            <span class='detail-card'><p>As the last three months of school come to a close, we are learning about the Ionic framework, Node.js, Express.js, plus several other technologies used with the server side of web development.  </p></span>
            <span class='detail-card'><p>So send me a message and we can start helping our families, friends, and neighbors not only improve their lives but make a real impact in them!<a href="mailto:vazquecm@gmail.com"></a>. Look forward to hearing from you!</p>
            </span>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>
