<section id="section-project" class="content">
  <div>
    <h2>Selected Projects</h2>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="fa fa-child"></i></i>Listen To Me Please!
        </div>
        <div class="collapsible-body">
          <img src="../img/ds-logo.jpeg" />
            <p>This app was designed to help facilitate the communication between myself and specifically my nephew who has Down Syndrome and does not have strong verbal skills. He is able to use an iPad, so with this app he can look for an image and decide if it is something that he wants to convey to me.  When he then clicks on the image an email is generated and sent to me.  This allows him to feel and become more independent all the while allowing those who care for him know what he actually needs.</p>
            <p>
            <a href='https://vazquecm.github.io/capstone-slideshow' target='_blank'>Click Here</a>
          </p>
        </div>
      </li>
       <li>
        <div class="collapsible-header active">
        <i class="fa fa-video-camera"></i>Movie History Project
        </div>
        <div class="collapsible-body">
          <img src="../img/movie-logo.jpeg"/>
          <p>This app was created using pair programming so all tech creativity, issues, and development was accomplished through mutual understanding.  Through the use of commenting in the code, anyone then can follow along and understand our thinking process.</p>
            <a href='https://github.com/vazquecm/cbs-moviehistory' target='_blank'>View the Code</a>
        </div>
      </li>
      <li>
        <div class="collapsible-header active">
          New Project
        </div>
        <div class="collapsible-body">
          <img src=""/>
          <p>In Production...please be patient.</p>
          <p>
          <a href=''>View the Code</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

