<section id="section-project" class="content">
  <div>
    <h2>Selected Projects</h2>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header active">
          <i class="fa fa-child"></i></i>Front End Capstone
        </div>
        <div class="collapsible-body">
          <img src="../img/ds-logo.jpeg" />
            <p>A slideshow that aides in communicating with my nephew who has Down Syndrome. Each image represents some text that is sent through email to me.</p>
            <p>
            <a href='https://github.com/vazquecm/capstone-slideshow'>View the Code</a>
          </p>
        </div>
      </li>
       <li>
        <div class="collapsible-header active">
        <i class="fa fa-video-camera"></i>Movie History Project
        </div>
        <div class="collapsible-body">
          <img src="../img/movie-logo.jpeg" style="width:718px"/>
          <p>Group project where we pair programmed using Firebase, Grunt, and Sass.</p>
            <a href='https://github.com/vazquecm/cbs-moviehistory'>View the Code</a>
        </div>
      </li>
      <li>
        <div class="collapsible-header active">
          Back End Project
        </div>
        <div class="collapsible-body">
          <img src=""/>
          <p>In Production...please be patient.</p>
          <p>
          <a href=''>View the Code</a>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>

