<section id="section-project" class="content">
  <div class="row">
    <div class="col s12 m12 ">
      <div class="card">
        <h2>Selected Projects</h2>
          <ul class="collapsible" data-collapsible="accordion">
            <li>
            <div class="collapsible-header active">
            <i class="fa fa-child"></i><h4>Listen To Me Please!</h4>

            </div>
            <div class="collapsible-body">
              <p><img src="../img/ds-logo.jpeg" /></p>
                <p>This app was designed to help facilitate the communication between myself and specifically my nephew who has Autism & Down Syndrome. He does not have strong verbal skills but is able to use an iPad. So with this app, he can look for an image and decide if it is something that he wants to convey to me.  When he then clicks on the image an email is generated and sent to me.  This allows him to feel and become more independent all the while allowing those who care for him know what he actually needs.</p>
                <p><a href='https://vazquecm.github.io/capstone-slideshow' target='_blank'>Click Here</a></p>
            </div>
            </li>
             <li>
              <div class="collapsible-header active">
              <i class="fa fa-video-camera"></i><h4>Movie History Project</h4>
              </div>
              <div class="collapsible-body">
                <p><img src="../img/movie-logo.jpeg"/></p>
                <p>This app was created using pair programming so all tech creativity, issues, and development was accomplished through mutual understanding.  Through the use of commenting in the code, anyone then can follow along and understand our thinking process.</p>
                <p><a href='https://github.com/vazquecm/cbs-moviehistory' target='_blank'>View the Code</a></p>
              </div>
            </li>
            <li>
              <div class="collapsible-header active">
                <i class="fa fa-heartbeat"></i><h4>Surgical Checklist</h4>
              </div>
              <div class="collapsible-body">
                <p><img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQfxPtaHlPufB0ecKGsqdFG24GcOh83_lYgmHjChowIdq35MDw7hg"/></p>
                <p>In Production...please be patient.</p>
                <p>
                <p><a href=''>View the Code</a></p>
                 </p>
               </div>
             </li>
           </ul>
       </div>
    </div>
  </div>
</section>

